<div class="w-50 p-3 rounded shadow mx-auto">
    <h1>Registration Form</h1>
    <form action="">
        <div class="form-group my-2">
            <input type="text" class="form-control py-3" name="myName" [(ngModel)]="myName" placeholder="Username**">
        </div>
        <div class="form-group my-2">
            <input type="text" class="form-control py-3" name="email" [(ngModel)]="email" placeholder="example@gmail.com**">
        </div>
        <div class="form-group my-2">
            <input type="text" class="form-control py-3" name="password" [(ngModel)]="password" placeholder="********">
        </div>
        <div class="form-group my-2">
            <input type="text" class="form-control py-3" name="cPassword" [(ngModel)]="cPassword" placeholder="********">
        </div>
        <button (click)="addUser()" class="btn btn-primary py-2" type="button">Add User</button>
    </form>
</div>

<table border="1">
    <thead>
        <tr>
            <th>Username</th>
            <th>Gmail</th>
            <th>Password</th>
            <th>Confirm Password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userInfo, let i = index">
            <td> {{user.name}} </td>
            <td> {{user.email}} </td>
            <td> {{user.password}} </td>
            <td> {{user.cPassword}} </td>
            <button (click)="editUser(i)">Edit</button>
            <button (click)="deleteUser(i)">Delete</button>
        </tr>
    </tbody>
</table>